[submodule "src/sizzle"]
	path = src/sizzle
	url = git://github.com/jquery/sizzle.git
[submodule "test/qunit"]
	path = test/qunit
	url = git://github.com/jquery/qunit.git
[submodule "src/wield"]
	path = src/wield
	url = git@github.com:johnbender/wield.git
